/* 基本スタイル */
body {
  font-family: sans-serif;
  text-align: center;
  background-color: #ffffff;
  color: #000000;
  margin: 2rem;
  transition: background-color 0.3s, color 0.3s;
}

h1 {
  font-size: 4rem;
  margin-bottom: 1rem;
}

input[type="number"],
input[type="file"],
button,
select {
  margin: 0.5rem;
  padding: 0.5rem;
  font-size: 1rem;
}

button {
  cursor: pointer;
}

/* ダークモード用 */
body.dark {
  background-color: #121212;
  color: #ffffff;
}

body.dark input,
body.dark button,
body.dark select {
  background-color: #1e1e1e;
  color: #ffffff;
  border: 1px solid #555;
}
